/* FORMULARIO */
.form {
    display: grid;
    grid-template-rows: 50px 300px 50px;
    margin-right: 4vw;
}

.form input {
    margin-bottom: 1vw;
}

.form textarea {
    margin-bottom: 1vw;
}

.form button {
    margin-bottom: 1vw;
}